<%-include('partials/header')%> <%-include('partials/navbar')%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sample-heading">
        <p>Sample ID: <%=sample.sample_id %></p>
      </div>
    </div>
    <div class="sample-details container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <p>Name: <%=sample.patientName %></p>
      </div>
      <div class="col-md-12 col-lg-6">
        <p>Age: <%= sample.age %></p>
      </div>
      <div class="col-md-12 col-lg-6">
        <p>Sex: <%= sample.sex%></p>
      </div>
      <div class="col-md-12 col-lg-6">
        <p>Date Time: <%= new Date(sample.createdAt).toUTCString() %></p>
      </div>
    </div>
  </div>


  <div class="sample-details container">
    <div class="row">
      <%if(sample.sensitivity && sample.sensitivity.growthTime) {%>
      <div class="col-md-12 col-lg-6">
          <p>Growth Time: <%= sample.sensitivity && sample.sensitivity.growthTime %></p>
      </div>
        <div class="col-md-12 col-lg-6">
          <p>Bacteria Count: <%= sample.sensitivity && sample.sensitivity.bacterialCount %></p>
        </div>
      <% } %>
      <div class="col-md-12 col-lg-6">
        <p>Bacteria type: <%=sample.sensitivity.aerobic?"Aerobic":"Anaerobic" %></p>
      </div>
      <div class="col-md-12 col-lg-6">
        <p>Progress: <%=sample.progress %></p>
      </div>
    </div>
  </div>


    <div class="col-md-12">

      <%if(sample.sensitivity){ %>

      <div class="sensitivity-table-container">
        <% if(typeof sample.sensitivity.staphylococcusPanel !== 'undefined' && sample.sensitivity.staphylococcusPanel.length > 0){%>
        <div class="panel">
          <h5>Staphylococcus Panel: <em><%=sample.sensitivity.staphylococcusName %></em></h5>
          <div class="panel-body">
            <% sample.sensitivity.staphylococcusPanel.forEach(ab=>{%>
            <div class="sensi-item <%=ab.sensitivity %>"><strong><%=ab.antib%>: </strong> <%= ab.sensitivity %></div>
            <% }) %>
          </div>

        </div>
          <% } %>

        <% if(typeof sample.sensitivity.streptococussPanel !== 'undefined' && sample.sensitivity.streptococussPanel.length > 0){%>
        <div class="panel">
          <h5>Streptococuss Panel: <em><%=sample.sensitivity.streptococussName %></em></h5>
          <div class="panel-body">
            <% sample.sensitivity.streptococussPanel.forEach(ab=>{%>
            <div class="sensi-item <%=ab.sensitivity %>"><strong><%=ab.antib%>: </strong> <%= ab.sensitivity %></div>

            <% }) %>
          </div>
        </div>
          <% } %>

        <% if(typeof sample.sensitivity.gramNegativePanel !== 'undefined' && sample.sensitivity.gramNegativePanel.length > 0){%>
        <div class="panel">
          <h5>Gram-Negative Panel: <em> <%=sample.sensitivity.gramNegativeName %></em></h5>
          <div class="panel-body">
            <% sample.sensitivity.gramNegativePanel.forEach(ab=>{%>
            <div class="sensi-item <%=ab.sensitivity %>"><strong><%=ab.antib%>: </strong> <%= ab.sensitivity %></div>

            <% }) %>
          </div>
        </div>
          <% } %>

        <% if(typeof sample.sensitivity.pseudomonasPanel !== 'undefined' && sample.sensitivity.pseudomonasPanel.length > 0){%>
        <div class="panel">
          <h5>Pseudomonas Panel: <em><%=sample.sensitivity.pseudomonasName %></em></h5>
          <div class="panel-body">
            <% sample.sensitivity.pseudomonasPanel.forEach(ab=>{%>
            <div class="sensi-item <%=ab.sensitivity %>"><strong><%=ab.antib%>: </strong> <%= ab.sensitivity %></div>

            <% }) %>
          </div>
        </div>
          <% } %>
      </div>
        <% } %>

        <%if(sample.remarks){ %>
        <div class="sample-details col-md-12">
          <h3>Remarks: <%= sample.remarks %></h3>
        </div>
        <% } %>
      <div class="col-md-12 sample-doc">
        <h2>Physician Name: <%= sample.physician %></h2>
      </div>

      <a href="/printReport/<%= sample.sample_id %>"  id="print-content" class="btn btn-outline-dark" >Print Report</a>
    </div>
  </div>
  <button class="btn btn-outline-dark" onclick="window.history.back()">Back</button>
</div>
<%-include("partials/add-new") %> <%-include("partials/footer") %>
